<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="container">
      <div class="section-title">
        <h2>A propos de ChemEventz</h2>
        <h3>Pour Des Chimistes <span> Par Des Chimistes </span></h3>
      </div>


      <div class="row content">

        <div class="col-lg-6">
          <img src="https://chem-eventz-images.s3.us-east-2.amazonaws.com/logo_electric_square.PNG" />
        </div>

        <div class="col-lg-6 pt-4 pt-lg-0">
          <p class="text-justify">
            <b> ChemEventz ? c'est quoi ? </b>
          </p>

          <p class="text-justify">
            ChemEventz est une application qui recense un grand nombre d'évènements chimiques en France et à
            l'internationale.
          </p>
          <p class="text-justify">
            Cette application propose une recherche quotidienne des nouveautés postées sur internet, mais tire avant
            tout sa force
            de la collaboration des membres de la communauté scientifique. En effet, l'alimentation de cette liste
            évènementielle,
            peut être effectuée par toutes personnes le souhaitant et ayant connaissance d'un évènement non répertorié
            sur ChemEventz.
          </p>
          <p class="text-justify">
            Pour cela, rien de plus facile, il suffit de s'inscrire et d'ajouter cet évènement en renseignant le titre,
            les dates,
            le lieu ET surtout l'url du site web officiel sur lequel à été publié cet évènement.
          </p>
          <p class="text-justify">
            <b> Pourquoi collaborer? </b>
          </p>
          <p class="text-justify">
            Les évènements scientifiques sont avant tout un partage de connaissances, de compétences mais sont aussi un
            lieu de rencontre.
            Vous pourrez y créer de nouvelles collaborations, ou bien décrocher le poste de vos rêves.
          </p>
          <p class="text-justify">
            ChemEventz est exclusivement réservés à la publication des évènements chimiques toutes branches confondues
            (analytiques, organique, supramoléculaire, biochimie, spectroscopique, théorique).
          </p>
          <p class="text-justify">
            ChemEventz est l'aboutissement d'un long cycle de formation Architecte Logiciel de 10 mois.
          </p>
          <a class="btn-learn-more">A propos de moi <i class="fa fa-arrow-down" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

    
      <div id="aPropos" class="section-title">
        <h2>A propos de Moi</h2>
        <h3> Docteur en Chimie organique <b> ET </b> <span> Ingénieure JavaEE FullStack </span></h3>
      </div>
      <div class="row content">

        

        <div class="row content">

          <div class="col-lg-6">

            <p class="text-justify">
              <b>Ma formation en Chimie </b>
            </p>
            <p class="text-justify">
              Chimiste de formation depuis le bac jusqu'à l'obtention de mon PhD en Chimie organique,
              j'ai pu cotoyer le domaine de la recherche (de la paillasse aux congrès...).
            </p>
            <p class="text-justify">
              Et oui, il m'est arrivé à de nombreuses reprise de passer à côté d'un évènement très intéressant
              qui aurait pu m'aider à synthétiser mes Aurones, Coumarines, Indolines,
              dérivés benzyliques ou juste à découvrir les nouvelles pratiques efficaces utilisées à travers le monde.
            </p>
            

          </div>

          <div class="col-lg-6 pt-4 pt-lg-0">
<!--             <img src="https://chem-eventz-images.s3.us-east-2.amazonaws.com/logo_electric_square.PNG" />
 -->
              <p class="text-justify">
                <b>Ma formation en Informatique </b>
              </p>
              <p class="text-justify">
                Je suis donc revenue après ma thèse avec un nouveau projet, après une formation en architecte logiciel,
                ChemEventz est né.
              </p>

              <p class="text-justify">
                Pour réaliser Chemeventz, j'ai fais la connaissance de JavaEE et de ses cousins NodeJS et TypeScript,
                j'ai aussi eu la chance de rencontrer Hibernate, Angular, Spring, Heroku, AWS et bien d'autres encore...
                Non ce ne sont pas les noms de nouveaux Pokémons! Mais une toute petite partie des outils qui m'ont permis
                de développer ChemEventz.
              </p>
              <p class="text-justify">
                ChemEventz devrait permettre de ne plus râter le moindre évènement chimique. Grâce à son interface
                utilisateur qui facilite la collaboration et l'échange.

              </p>


          </div>
        </div>

      </div>
    </div>  
  </div>


</section><!-- End About Section -->