<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
<!--     <div class="container-fluid">
 -->                   
        <a class="navbar-brand" href="/"> <h1>ChemEventz</h1></a>
       
        <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
        <i class="fa fa-bars"></i>
        </button>
        <!-- <hr> -->
        <!-- <div id="collapseBasic" >
          <div class="well well-lg card card-block card-header">Some content</div>
        </div> -->
        
        
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigationBar" aria-controls="navigationBar" aria-expanded="false" aria-label="Toggle navigation">
             <i class="fa fa-bars"></i>  
        
        </button> -->
         <!--<span class="navbar-text"> </span>--> 
         <div id="collapseBasic" class="collapse navbar-collapse" [collapse]="isCollapsed"> 
       <!--  <div id="navigationBar" class="collapse navbar-collapse">  -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink="/events" class="navlink"><h4> Accueil </h4><span class="sr-only">(current)</span></a>
                </li>
                <span> &nbsp; &nbsp; &nbsp;</span>
                <li class="nav-item">
                    <a routerLink ="/about" class="navlink"> <h4>A propos</h4></a>
                </li >
                <span> &nbsp; &nbsp; &nbsp;</span>
                  <li *ngIf="authority === 'user'" class="nav-item">
                    <a class="navlink" routerLink="/personalSpace"><h4>Ajouter evenement</h4></a>
                  </li>
                  <span> &nbsp; &nbsp; &nbsp;</span>
                  <li *ngIf="authority === 'admin'" class="nav-item">
                    <a class="navlink" routerLink="/personalSpace"><h4>Ajouter evenement</h4></a>
                  </li>
                  <span> &nbsp; &nbsp; &nbsp;</span>
                  <li *ngIf="authority === 'admin'" class="nav-item">
                    <a class="navlink" routerLink="/adminSpace"><h4> Gestion Evenements</h4></a>
                  </li>
 
            </ul>

            <div *ngIf="isLoggedIn; else loggedOut">
              <div class="form-inline mt-2 mt-md-0">
             
                 <label id="connectedUser">{{username}}  &nbsp; &nbsp;</label>
                 <button class="btn btn-outline-warning"  (click)="onLogout()" routerLink="/events"> Se Déconnecter</button>
               </div>
         </div>      
         <ng-template #loggedOut>
             <div class="form-inline mt-2 mt-md-0">
               <button routerLink="/login" class="btn btn-outline-warning"> Se Connecter</button> 
             </div>
         </ng-template> 
        </div>

        
          
  <!--   </div> -->
</nav>