 #navigationBar{
    display :flex;
    margin-left: 40px;
    color:white;
}
.nav-item{
    margin-right: 20 px;
}
#connectedUser{
    color: white;
}
#connectedUser{
    size: 16px;
}
a:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color:grey;
    background-color: transparent;
    text-decoration: none;
} 