.nav-bar{
    margin-top: 55px;
    width: 350px;
    
}
.search{
    width: 340px;
    margin-left: 5px;
   // margin-top: 70px;
    border:solid;
    border-color: black;
    border-width: 1px;
    padding : 10px;
}
input{
    margin-bottom: 10px;
}
/* #btnResearch{

    border: 2px solid orange; 
} */