<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.
</div>

<ng-template #loggedOut>

<div id="containerLogin" class="container">
  <div class="jumbotron border-warning">
    <form name="form" (ngSubmit)="formLogin.form.valid && onLogin()" #formLogin="ngForm" novalidate>
      <h2 id="headerLogin" class="text-center"> Se connecter</h2>
      <p></p><br/>
      <div id="formLoginUsername" class="form-group row" >
        <label class="col-sm-4" > username : </label>
        <div class="col-sm-8">
          <input type ="text" class="form-control" [(ngModel)]="form.username" name="username" required /> 
        </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-4" > password :</label> 
          <div class="col-sm-8">
              <input type="password" class="form-control" [(ngModel)]="form.password" name="password" required /> 
          </div>
      </div>
  
      
      <div class="form-group row">
        <div class="col-sm-8 offset-sm-4">
         <input type="button" 
             class="btn btn-primary" 
             value="login" (click)="onLogin()" routerLink="/events" />
             <div *ngIf="formLogin.submitted && isLoginFailed" class="alert alert-danger">
              Login failed: {{errorMessage}}
            </div>
        </div>
      </div> 
    </form>
    <p></p><br/><br/>
    <div id="signUp" class="form-group row">
      <h6>Vous n'avez pas encore d'espace personnel? &nbsp;  <i><a routerLink="/registration">S'enregistrer</a> </i></h6>         
    </div>  
  </div>  
</div>

</ng-template>