.outside{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    position: fixed ;
    overflow: auto;
}
.search{
    /*  width: 90%;  */
     top: 68px;
    border:solid;
     border-color:rgba(255, 208, 0, 0.801); 
     border-radius:20px;
     border-width: 1px; 
     position: sticky; 
     z-index:2;
     /* height: 60px; */
     padding:10px;
     color:white;
     /* background-color: #420b01da; */

 }
.tableau{
    /* width:1100px; */
    margin-top:80px;
    font-family: sans-serif;
    font-size: 12px;
    float: left;
    text-align: center;

}

.searchAdmin{
    width: 100%;
    border-radius: 10px;
    height: 30px;
    padding-left: 30px;
    font-size:13px;
    color:black;
}

input[type=button]{
    width: 100%;
    border-radius: 10px;
    height: 30px;
}

.table{
    padding:8px;
    margin-bottom: 60px;
}

.btn{
    width: 80px;
    height: 25px;
    border-radius: 7px;
    margin-left:10px;
    color: black;
}

.btn{
    margin-left:10px;
} 
th{
    text-align: center;
}
.tr{
    min-width: 400px;               
    max-width: 500px;
    padding: 8px;
    text-align: left;
    display: table-cell;
    vertical-align: inherit;
}

#tdId{
    width: 80px;
}