.taille{
    min-height: 350px;
    width: 300px;
    margin-bottom: 40px;
    border-style:solid;
    border-color: rgb(177, 136, 3);
    border-radius: 10px;
    border-width: 1px;
    color: white;
}
.image{
    justify-content: center;
    max-width: 50%;
    height: auto;
}
 .pref{
    //box-shadow: 0 4px 8px 0 rgba(243, 198, 48, 0.568), 0 6px 20px 0 rgba(233, 201, 18, 0.883)
} 
.panel-default{
    width: 1200px;
    border-width: 0px;
    margin-left: 50px;
}
.panel-heading{
    border-width: 0px;
}
#idContainer{
    background-color: black;
    margin-top: 37px;
}
.content{
    width: 1800;
}
img {
    width: 1100px;
    height: auto;
  }