#navigationBar{
    margin-left: 40px;
    color:white;
}

.boxSearch {
    display:flex;
}

.nav-bar{
    margin-top: 55px;
    width: 350px; 
    position: fixed;
}

.search{
    width: 340px;
    margin-left: 5px;
   // margin-top: 70px;
    border:solid;
    border-color: black;
    border-width: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left : 10px;
}

#rechercherEvent{
    margin-bottom:10px;
}
#zoneSearch{
    margin-right: 10px;
}

#btnResearch{
    width:75px;
}


 #idContainer{
    margin-top: 27px;
    margin-left: 360px;
} 

.panel-default{
    width: 1140px;
    border-width: 0px;
    margin-left: 50px;
}

.panel-heading{
    border-width: 0px;
     max-width: 1060px ;
 }

img {
    width: 1060px;
    height: auto;
  }

.panel-body{
    border-width: 0px;
}

.taille{
    min-height: 350px;
    width: 300px;
    margin-bottom: 40px;
    border-style:solid;
    border-color: rgb(177, 136, 3);
    border-width: 1px;
    color: white;
}

 hr.hrCard{
    padding-top: 12px;
    border-style:solid;
    border-color: orange;
 }

 h2.card-title1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family:"URW Chancery L";
 }
 h3.card-title2{
    text-align: center;
    margin-bottom: 20px;
    font-family:"URW Chancery L";
 }
 
 #dateEvent{
    text-align: center;
    font-size: 12px;
    font-style : italic;
 }


 .btnCard{
    width: 100px;
    height: 30px;
    margin-bottom: 1px;
    font-size: 12px;
    background-color: rgb(246, 190, 7);
    
}

    .rowFooter{
     align-content: center;
 }
 